
/* Common
================================================================================ */


a:link,
a:visited,
a:hover,
a:active {
	text-decoration:none;
	color: rgb(0,0,0);
}


/* Structure
================================================================================ */


body {
	font-family: "DejaVu Sans", "URW Gothic L", "Helvetica Neue", Helvetica,
	             Arial, "Microsoft Sans Serif", sans-serif;
	font-size: 10pt;
}


/* Style
================================================================================ */


#header {
	border-bottom: 1px solid rgb(0,0,0);
	padding: 0 0 10px 0;
}

#header p span.files,
#navigation,
#content p.meta span.social,
#footer {
	display: none;
}

#content {
	padding: 0 0 10px 0;
}

blockquote {
	font-style: italic;
}

#copyright {
	border-top: 1px solid rgb(0,0,0);
}


