/*

	KEEP CSS CLEAN
	
	1. Only put one selector per line for a block of rules that apply to 
	   multiple selectors.
	2. Indent your rules and only use one rule per line.
	3. Indent proprietary properties twice. Keep these properties directly 
	   below the proposed property.
	4. Place a space between a property and it's value.
	
	(exceptions for large blocks of repetetive and easily identifiable CSS)
	
	EXAMPLE:
	
	element#id,
	element.class {
		rule1: value;
			-webkit-rule1: value;
			-moz-rule1: value;
		rule2: value;
		rule3: value;
	}
	
	TABLE OF CONTENTS:
	
	Reset
	Common
	Structure
	Style
	
*/


/* Reset
================================================================================ */


html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

fieldset,
img {
	border: 0;
}

ul li {
	list-style: disc;
}

ol li {
	list-style: decimal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

article,
aside,
dialog,
figure,
footer,
header, 
hgroup,
nav,
section { 
	display:block;
}


/* Common
================================================================================ */


body {
	text-align: center;
	font-family: "DejaVu Sans", "URW Gothic L", "Helvetica Neue", Helvetica,
	             Arial, "Microsoft Sans Serif", sans-serif;
	background: rgb(255,255,255) url(../images/bg.gif) repeat-y top center;
	font-size: 14px;
	line-height: 20px;
}

a:link,
a:visited {
	text-decoration: none;
	color: rgb(205,0,0);
}

a:hover,
a:active {
	text-decoration: underline;
	color: rgb(125,0,0);
}

p, ul, ol, dl {
	padding: 0 20px;
	margin-bottom: 20px;
}

ul {
	margin-left: 20px;
}

ol {
	margin-left: 20px;
}

blockquote {
	font-style: italic;
	padding: 0 20px;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	padding: 0 20px;
	margin: 20px 0;
}

h1 { 
	font-size: 32px;
	line-height: 40px;
}

h2,
h3 { 
	font-size: 16px;
	line-height: 20px;
}

h3 { 
	font-weight: normal;
}


/* Structure
================================================================================ */


.container {
	margin: 0 auto;
	width: 960px;
	text-align: left;
}

.column-full {
	float: left;
	width: 100%;
	clear: both;
}

.column-twelve { width: 960px; }
.column-eleven { width: 880px; }
.column-ten { width: 800px; }
.column-nine { width: 720px; }
.column-eight { width: 640px; }
.column-seven { width: 560px; }
.column-six { width: 480px; }
.column-five { width: 400px; }
.column-four { width: 320px; }
.column-three { width: 240px; }
.column-two { width: 160px; }
.column-one { width: 80px; }

.column-twelve, .column-eleven, .column-ten, .column-nine, .column-eight,
.column-seven, .column-six, .column-five, .column-four, .column-three,
.column-two, .column-one {
	float: left;
}


/* Style
================================================================================ */


#header {
	padding: 20px 0 0 0;
}

#navigation ul {
	margin-left: 0;
}

#navigation ul li {
	display: inline;
	margin-right: 20px;
}